<!DOCTYPE html>
<html>
  <head>
    <title>Contacts</title>
    <style></style>
  </head>
  <body>
    <% function userView(user, i) { %>
    <tr>
      <td><%= i %></td>
      <td><%= user.username %></td>
      <td><%= user.surname %></td>
      <td><%= user.email %></td>
    </tr>
    <% } %>
    <table border="1">
      <tr>
        <td>#</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Email</td>
      </tr>
      <% users.map(userView) %>
    </table>
  </body>
</html>
